
html { 
  background: url(images/bg.jpg) no-repeat center center absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  font-family: 'Roboto slab', sans-serif;
  background-color:#201c2a;
}

table {
	border-spacing: 0.3rem;
}
th, td {
  border: 3px solid #e52e71;
  border-radius :15px;
  padding: 10px;
  background-color:#100f17;
  text-align: center;
  font-size:20px; 
}

th {
	color:#6bddc4;
}

td {
	text-align: left;
}

a {
	text-decoration: none;
	color:#ddd;
}

a:hover {
	color: greenyellow;
}

div.heading {
	text-align: center;
	color: darkorange;
}

div.english-section, div.coding-section, div.hindi-section {
	float: left;
}

div {
	margin-right: 20px;
	margin-bottom: 20px;
}
