
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#d1a1d5;
  }

/*****************End of Flex bar*******************/


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 10px;
  background-color: rgb(0,100,100);
  width: 100%; 

  position: sticky;
  top: 0;
  left: 0;
}

.flex-item {
   width: 95px;
   height: 60px;
   padding: 0;
   list-style: none;
  }
/*----------------------------------------------*/
.flex-item > a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 5px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 10px;
  font-weight: bold;
}

.flex-item a:hover {
  background-color:  #ddd;
  color: #000;
  transition: all 0.5s;
}


.flex-item .flex-submenu-container {
  display: flex;
  flex-flow: column nowrap;
  width: 180px;
  list-style: none;
  color: white;
  padding: 0;
}

.flex-item .flex-submenu-container a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  background-color: rgb(0,100,100);
  color: white;
  border: 1px solid silver;
  border-radius: 10px;
}

.flex-item .flex-submenu-container a:hover {
  background-color:  #ddd;
  color: #000;
  border: 1px solid red;
  transition: all 0.5s;
}

.submenu-list .flex-submenu-container {
  display: none;
}

.flex-item:hover .flex-submenu-container {
  display: block;
}

/*******************************Start of CSS Grid*******************/ 

.img-container {
    display: grid;
    grid-gap:10px; 
    grid-template-columns: repeat(4, 1fr);
    margin:25px 50px 50px 50px; 
}

.imgBlock {
    cursor: pointer;
    text-align: center;
    font-size: 10em;
    border-radius: 4px;
    border: 3px solid #b85d1c;
    transition: all 0.3s linear;
    height: 450px;
}

.one {
    background: linear-gradient(#56B870 0%, #a5c956 100%);
    animation: Q-slide 200s infinite; 
    grid-column: 1/2;
    grid-row: 1/2;      
}
.two {
    background: linear-gradient(#be48b2 0%, #c80710 100%); 
    animation: img-slide 50s infinite; 
    grid-column: 3/5;
    grid-row: 2/3; 
}
.three {
    background: linear-gradient(#76b0f8 0%, #3a8deb 100%);
    background-image: url("img/General.jpg");
    background-size: cover;
    animation: wall-slide 100s infinite;
    grid-column: 1/3; 
    grid-row: 2/3;     
}
.four {
   background-image: url("img/General.jpg");
   background-size: cover;
   border-radius: 15px 60px;
   border: 10px solid #606078;

   /*border-image-slice:13 13 13 13 fill;
   border-image-width:13px 13px 13px 13px;
   border-image-outset:13px 13px 13px 13px;
   border-image-repeat:repeat repeat;
   border-image-source:url("https://mdn.mozillademos.org/files/6013/border-image-4.png");*/

   grid-column: 2/4;
   grid-row: 1/2; 
}
.five {
   background-image: url("img/5.jpg");
   background-position: center;
   -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
   background-size: cover;
   grid-column: 1/2;
   grid-row: 3/4; 
}
.six {
   background-image: url("img/6.jpg");
   background-position: center;
   -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
   background-position: center;
   grid-column: 2/3;
   grid-row: 3/4; 
}
.seven {
   background-image: url("img/7.jpg");
   background-position: center;
   -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
   background-size: cover;
   grid-column: 3/4;
   grid-row: 3/4; 
}
.eight {
   background-image: url("img/8.jpg");
   background-position: right center;
   background-size: cover;
   -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
   grid-column: 4/5;
   grid-row: 3/4; 
}
.nine  {
   background-image: url("img/General.jpg");
   background-size: cover;
   background-position: center;
   animation: RP-slide 50s infinite;
   grid-column: 4/5;
   grid-row: 1/2; 
}

/*****************************************End of Grid*****************************/ 


/***************Start of Animation*********************/

 
@keyframes Q-slide {
    0% {background-image: url("img/Positivity/0.jpg"); background-size: cover;}
    5% {background-image: url("img/Positivity/1.jpg"); background-size: cover;}
    10% {background-image: url("img/Positivity/2.jpg"); background-size: cover;}
    15% {background-image: url("img/Positivity/3.jpg"); background-size: cover;}
    20% {background-image: url("img/Positivity/4.jpg"); background-size: cover;}
    25% {background-image: url("img/Positivity/5.jpg"); background-size: cover;}
    30% {background-image: url("img/Positivity/6.jpg"); background-size: cover;}
    35% {background-image: url("img/Positivity/7.jpg"); background-size: cover;}
    40% {background-image: url("img/Positivity/8.jpg"); background-size: cover;}
    45% {background-image: url("img/Positivity/9.jpg"); background-size: cover;}
    50% {background-image: url("img/Positivity/10.jpg"); background-size: cover;}
    60% {background-image: url("img/Positivity/12.jpg"); background-size: cover;}
    55% {background-image: url("img/Positivity/11.jpg"); background-size: cover;}
    65% {background-image: url("img/Positivity/13.jpg"); background-size: cover;}
    70% {background-image: url("img/Positivity/14.jpg"); background-size: cover;}
    75% {background-image: url("img/Positivity/15.jpg"); background-size: cover;}
    80% {background-image: url("img/Positivity/16.jpg"); background-size: cover;}
    85% {background-image: url("img/Positivity/17.jpg"); background-size: cover;}
    90% {background-image: url("img/Positivity/18.jpg"); background-size: cover;}
    95% {background-image: url("img/Positivity/19.jpg"); background-size: cover;}
    100% {background-image: url("img/Positivity/20.jpg"); background-size: cover;}
}

@keyframes img-slide {
    0% {background-image: url("img/img-slide/1.jpg"); background-size: cover;}
    10% {background-image: url("img/img-slide/2.jpg"); background-size: cover;}
    20% {background-image: url("img/img-slide/3.jpg"); background-size: cover;}
    30% {background-image: url("img/img-slide/4.jpg"); background-size: cover;}
    40% {background-image: url("img/img-slide/5.jpg"); background-size: cover;}
    50% {background-image: url("img/img-slide/6.jpg"); background-size: cover;}
    60% {background-image: url("img/img-slide/7.jpg"); background-size: cover;}
    70% {background-image: url("img/img-slide/8.jpg"); background-size: cover;}
    80% {background-image: url("img/img-slide/9.jpg"); background-size: cover;}
    90% {background-image: url("img/img-slide/10.jpg"); background-size: cover;}
    100% {background-image: url("img/img-slide/11.jpg"); background-size: cover;}
}

@keyframes wall-slide {
  0% {background-image: url("img/wall/0.jpg"); background-size: cover;}
  5% {background-image: url("img/wall/1.jpg"); background-size: cover;}
  10% {background-image: url("img/wall/2.jpg"); background-size: cover;}
  15% {background-image: url("img/wall/3.jpg"); background-size: cover;}
  20% {background-image: url("img/wall/4.jpg"); background-size: cover;}
  25% {background-image: url("img/wall/5.jpg"); background-size: cover;}
  30% {background-image: url("img/wall/6.jpg"); background-size: cover;}
  35% {background-image: url("img/wall/7.jpg"); background-size: cover;}
  40% {background-image: url("img/wall/8.jpg"); background-size: cover;}
  45% {background-image: url("img/wall/9.jpg"); background-size: cover;}
  50% {background-image: url("img/wall/10.jpg"); background-size: cover;}
  60% {background-image: url("img/wall/12.jpg"); background-size: cover;}
  55% {background-image: url("img/wall/11.jpg"); background-size: cover;}
  65% {background-image: url("img/wall/13.jpg"); background-size: cover;}
  70% {background-image: url("img/wall/14.jpg"); background-size: cover;}
  75% {background-image: url("img/wall/15.jpg"); background-size: cover;}
  80% {background-image: url("img/wall/16.jpg"); background-size: cover;}
  85% {background-image: url("img/wall/17.jpg"); background-size: cover;}
  90% {background-image: url("img/wall/18.jpg"); background-size: cover;}
  95% {background-image: url("img/wall/19.jpg"); background-size: cover;}
  100% {background-image: url("img/wall/20.jpg"); background-size: cover;}
}

@keyframes RP-slide {
  0% {background-image: url("img/RP/0.jpg"); background-repeat: no-repeat; background-size: 100%; background-position: center;}
  10% {background-image: url("img/RP/1.jpg"); background-size: cover; background-position: center;}
  20% {background-image: url("img/RP/2.jpg"); background-size: cover; background-position: center;}
  30% {background-image: url("img/RP/3.jpg"); background-size: cover; background-position: center;}
  40% {background-image: url("img/RP/4.jpg"); background-size: cover; background-position: center;}
  50% {background-image: url("img/RP/5.jpg"); background-size: cover; background-position: center;}
  55% {background-image: url("img/RP/6.jpg"); background-size: cover; background-position: center;}
  70% {background-image: url("img/RP/7.jpg"); background-size: cover; background-position: center;}
  80% {background-image: url("img/RP/8.jpg"); background-size: cover; background-position: center;}
  90% {background-image: url("img/RP/9.jpg"); background-size: cover; background-position: center;}
  100% {background-image: url("img/RP/10.jpg"); background-size: cover; background-position: center;}
}


/***********************End of Animation**************************/  