@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: hsl(64, 75%, 84%);
}

/*****************End of Flex bar*******************/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 0;
  background-color: rgb(245, 134, 93);
  width: 100%;
  position: sticky;
  top: 0;

  z-index: 10;
}

.flex-item {
  width: 150px;
  height: 50px;
  padding: 0;
  list-style: none;
}

.ps {
  width: 170px;
}

.arrow {
  margin-left: 5px;
  transition: margin-left 0.4s;
}

/*----------------------------------------------*/
.flex-item > a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 5px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

.flex-item a:hover {
  background-color: rgb(248, 72, 8);
  color: #000;
  transition: all 0.5s;
}

.flex-item a:hover .arrow {
  margin-left: 10px;
}

.flex-item .flex-submenu-container {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  list-style: none;
  color: white;
  padding: 0;
}

.flex-item .flex-submenu-container a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  background-color: rgb(243, 99, 47);
  color: white;
  border: 1px solid rgb(248, 71, 6);
  position: relative;
  z-index: 100;
}

.flex-item .flex-submenu-container a:hover {
  background-color: rgb(249, 95, 39);
  color: #000;
  border: 1px solid red;
  transition: all 0.5s;
}

.submenu-list .flex-submenu-container {
  display: none;
}
.submenu-list .flex-submenu-container .flex-item-submenu:last-child a{
  border-radius: 0 0 10px 10px;
}
.submenu-list .flex-submenu-container .flex-item-submenu:first-child a{
  border-radius: 0 10px 0 0;
}

.flex-item:hover .flex-submenu-container {
  display: block;
}
/*---------------section----------------*/
section {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  padding: 30px;
  overflow-y: scroll;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
#section-1 {
  background-color: #cdf6fa;
}
#section-2 {
  background-color: #b2f2f8;
}
#section-3 {
  background-color: #91edf5;
}
table {
	border-spacing: 0rem;
  margin-bottom: 1rem;
}
th, td {
  border: 1px solid blue;
  /* border-radius :15px; */
  padding: 10px;
  background-color: lightgreen;
  font-size:20px;
}
th {
  background-color: rgb(25, 244, 25);
	color: blue;
}

td {
	text-align: center;
}

a {
	text-decoration: none;
	color: #222;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}

td:hover {
  background-color: blue;
}
td:hover a {
  background-color: blue;
  color: #fff;
  text-align: center;
}

.table-A {
  flex: 0 1 auto;
}

div.heading {
	text-align: center;
	color: darkorange;
}
/*==================Clock===================*/
.bill-board {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
  padding: 10px;
}

.clock-container {
  width: 50%;
  margin: 0 auto;
}

.quote-container {
  padding: 20px 50px;
  width: 50%;
  border: 3px solid rgb(240, 136, 157);
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  display: none;
}

.datetime {
  color: #fff;
  background: #10101e;
  font-family: "Segoe UI", sans-serif;
  width: 340px;
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
  margin: 0 auto;
}

.plain-clock {
  border: 3px solid rgb(240, 136, 157);
  text-align: center;
  overflow-x: auto;
}

.quote-container .category {
  margin-top: -40px;
  margin-bottom: 20px;
  background-color: hsl(204, 82%, 69%);
  border: 3px solid hsl(204, 92%, 59%);
  width: 50%;
  padding: 5px;
  text-align: center;
  overflow-x: auto;
}
.quote-container .quote {
  margin-bottom: 10px;
  font-family: Chewy, sans-serif;
  font-size: 25px;
  /* font-weight: bold; */
}
.quote-container .author {
  text-align: right;
  padding-right: 30px;
}

.datetime:hover {
  background: #2e94e3;
  box-shadow: 0 0 30px #2e94e3;
  cursor: pointer;
}

.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  background: #2e94e3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

/**----------responsive-----**/

@media screen and (max-width: 600px) {
  .flex-container {
    position: relative;
  }
  .bill-board {
    display: block;
  }
  .clock-container, .quote-container {
    width: 100%;
    margin: 20px auto;
  }
  .quote-container .category {
    width: 110%;
  }

  .plain-clock {
    display: block;
    margin-bottom: 50px;
  }

  .datetime {
    display: none;
  }
}

